<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2 th:text="#{page.posts}">상품 목록</h2>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/posts/add}'|"
              type="button" th:text="#{page.addPost}">글 쓰기</button>
    </div>
  </div>

  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th th:text="#{label.post.id}">번호</th>
        <th th:text="#{label.post.title}">제목</th>
        <th th:text="#{label.post.author}">글쓴이</th>
        <th th:text="#{label.post.createdAt}">수량</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="post : ${posts}">
        <td><a href="item.html" th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${post.id}">회원id</a></td>
        <td><a href="item.html" th:href="@{|/posts/${post.id}|}" th:text="${post.title}">글 제목</a></td>
        <td th:text="${post.author}">10000</td>
        <td th:text="${post.createdAt}">10</td>
      </tr>
      </tbody>
    </table>
  </div>

</div> <!-- /container -->

</body>
</html>